.group {
    margin: 20px 0;
}

.group {
    color: black;
}

.btn {
    background-color: blue;
    color: whitesmoke;
    padding: 10px 20px;
}

.input-field {
    width: 300px;
    padding: 10px;
}
